PORT=127.0.0.1:8888
XRAY_UUID=5ccad305-e243-4bb2-abf0-1e37189ce4e8
FAKE_SNI=api24-normal-alisg.tiktokv.com,api24-normal-useast1a.tiktokv.com
WS_PATH=/tiktok4g
WS_HOST=trycloudflare.com
ENABLE_WARP=false
WEBHOOK_URL=